.section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 95vh;
    background: linear-gradient(to bottom, #cb3049, #f8afbb,#d8aab3);

}

.texts{
    max-width: 20rem;
    height: 95vh;
    text-align: center;
    background:linear-gradient(45deg,  #00C16C,#004443 , pink);
    display: flex;
    background-size: 300% 300%;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-right:1rem;
    animation: colors 4s ease infinite;

}
.texts h4{
    letter-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem ;
}
.texts p{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.buttons{
    display: flex;
    justify-content: center;

}
.buttonCadastrar{
    background-color: pink;
    color: black;
    font-size: 0.8rem;
    margin: 1rem;
    height: 100%;
    transition: 1s;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition:1s;
}
.buttonCadastrar:hover{
    background-color: #59b390;
    color: black;
    transform: rotate(-20deg);
}
.img{
    width: 20rem;   
    padding: 4rem;
    border-top-left-radius: 20rem;
    border-bottom-right-radius: 20rem;
    background-color: white;
}

@keyframes colors{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
