.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #EAFDE6;
    height: 50vh;
}
.input{
    max-width: 20rem;
    height: 2.4rem;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    
}

.iframe{
    width:100%;
    height: 50vh;
    border:none;
}

.begginer{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #EAFDE6;
}

.form h1{
    
    font-size: 3rem;
    font-weight: bold;
    background-color: green;
    box-shadow: 0px 10px 8px #888888;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 0.3rem;

}

.select{
    height: 2.4rem;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border:none;
}

